bin
build
*.o
*.so
*.dylib
*.dll
*.lib
*.exp
*.def
*.a
*.exe
.venv
.vscode
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc~
*.pyo~
*.pyd~
*.pyw~
*.pyz~
*.pywz~
*.pyc~
*.pyo~
*.pyd~
python_bindings/build
__pycache__
python_bindings/__pycache__
python_bindings/tests/__pycache__
.pytest_cache
